.services {
  /* background-color: #87ceeb; */
  background-color: #1d1d7e;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2%;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}

.servicesH2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

.testimonyBlock {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: flex-start;

  /* padding: 0 100px; */
  width: 50%;
  gap: 20px;
}

.testimonyDiv {
  background-color: #fff;
  max-width: calc(80% - 10px);
  height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-grow: calc(5); */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.servicesHeader {
  /* color: #780909; */
  color: #1d1d7e;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

@media screen and (max-width: 1440px) {
  .testimonyBlock {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .services {
    padding-left: 20px;
    padding-right: 20px;
  }

  .servicesH2 {
    font-size: 20px;
  }

  .testimonyBlock {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .testimonyDiv {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }

  .servicesHeader {
    font-size: 18px;
  }
}
